

    h1 {
        color:blue;
        text-align: center;
    }

    /* it's a class */
    .langS{ 
        color: brown;
    }
    #javaSpecs{
        color: darkgreen;
        text-emphasis:inherit;
    }
    h2{
        color:rgb(82, 0, 214);
    }
